.floatleft {
  float: left;
  margin: 0 10px 0 0;
  border: 3px solid lightgray;
  border-radius: 6px;
  padding: 2px;
}

.products:after{
		content:"";
		display:table;
		clear:both;
}

input{
	display: block;
	background-color: red;
	padding: 10px 25px;
	border: 1px solid #;
	text-shadow: 0 1px 0 #213A82;
	border-radius: 4px;
	color: white;
