
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.colorful {
  background:
    linear-gradient(45deg, hsla(134, 43%, 73%, 1) 0%, hsla(134, 43%, 73%, 0) 70%),
    linear-gradient(135deg, hsla(120, 95%, 94%, 1) 10%, hsla(120, 95%, 94%, 0) 80%),
    linear-gradient(225deg, hsla(193, 95%, 82%, 1) 10%, hsla(193, 95%, 82%, 0) 80%),
    linear-gradient(315deg, hsla(169, 79%, 29%, 1) 100%, hsla(169, 79%, 29%, 0) 70%);
  }
  
.title {
  width: 100%;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 20px;
}

input {
  width: 300px;
  border-radius: 6px;
}

form {
  width: 364px;
  margin: 0 auto;
}

IMG.logo {
  display: block;
  margin: 0 auto;
}